PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/bellcorp-events?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_here_change_in_production
NODE_ENV=development
